@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .pt-rg {
    padding-top: 110px;
  }

  .pb-rg {
    padding-bottom: 110px;
  }

  .gap-y-rg {
    /* row-gap: 6.875rem; */
    @apply ~gap-y-[5.5rem]/[6.875rem];
  }
}

html, body {
  font-family: var(--font-body);
  color: white;
  background-color: black;
  scroll-behavior: smooth;
}

.prose--dark {
  p {
    @apply text-white-80 ~text-[1rem]/[1.125rem] font-light leading-[1.6] tracking-[0.01em];
  }
}

.text-80 {
  @apply ~text-[3.8rem]/[5rem];
}