@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  font-family: var(--font-body);
  color: white;
  background-color: black;
}

h1 {
  font-family: var(--font-heading) !important;
}